section{
	margin:5px;
	padding:5px;
	border: 1px solid darkcyan;
	color:orangered;

}
section > h1,
section > h2,
section > h3,
section > h4,
section > h5,
section > h6{

	color: crimson;

}
section > p >strong{
	text-decoration: overline;
}