<div id="nav">
	<ul class="menu">
		<li class="current_page_item"><a href="/">Home</a></li>
		<li><a href="/services">Services</a>
			<!--ul class="sub-menu">
			  <li><a href="#">Branding</a></li>
			  <li><a href="#">Online Marketing</a></li>
			  <li><a href="#">Search Engine Optimization</a></li>
			  <li><a href="#">Web Design</a></li>
			</ul-->
		</li>
		<li><a href="/portfolio">Portfolio</a></li>
		<li><a href="/articles">Articles</a></li>
		<li><a href="/contact">Contact</a></li>
	</ul>
</div>
<!--end nav-->