.heading{

}

.heading h1,
.heading h2,
.heading h3,
.heading h4,
.heading h5,
.heading h6 {

}

.heading h1{

}
.heading h2{

}
.heading h3{

}
.heading h4{

}
.heading h5{

}
.heading h6{

}

h1,h2,h3,h4,h5,h6{

}
h1{}
h2{}
h3{}
h4{}
h5{}
h6{}


.heading-complex{




}