<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
<title>Akono</title>
<meta charset="utf-8">
	<base href="/"/>
<link type="text/css" rel="stylesheet" href="/jungle/assets/styles/style.css" />
<link type="text/css" rel="stylesheet" href="/jungle/assets/styles/skin.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="/jungle/assets/js/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="/jungle/assets/js/initSlider.js"></script>
<!--[if IE 6]>
<script src="/jungle/assets/js/ie6-transparency.js"></script>
<script>DD_belatedPNG.fix('#header img, #featured-section h2, #circles img, #frontpage-sidebar .read-more, .blue-bullets li, #sidebar .sidebar-button, #project-content .read-more, .more-link, #contact-form .submit, .jcarousel-skin-tango .jcarousel-next-horizontal, .jcarousel-skin-tango .jcarousel-prev-horizontal, #commentform .submit');</script>
<style>body { behavior: url("/jungle/assets/styles/ie6-hover-fix.htc"); }</style>
<link rel="stylesheet" href="/jungle/assets/styles/ie6.css" />
<![endif]-->
<!--[if IE 7]><link rel="stylesheet" href="/jungle/assets/styles/ie7.css" /><![endif]-->
<!--[if IE 8]><link rel="stylesheet" href="/jungle/assets/styles/ie8.css" /><![endif]-->
</head>
<body class="home">
<div id="wrap">
  <div id="header"> <img src="/jungle/assets/images/logo.png" />
    <div id="nav">
      <ul class="menu">
        <li class="current_page_item"><a href="/">Home</a></li>
        <li><a href="/services">Services</a>
          <!--ul class="sub-menu">
            <li><a href="#">Branding</a></li>
            <li><a href="#">Online Marketing</a></li>
            <li><a href="#">Search Engine Optimization</a></li>
            <li><a href="#">Web Design</a></li>
          </ul-->
        </li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/articles">Articles</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
    <!--end nav-->
  </div>

	{{ getContent() }}
  <!--end header-->
  <div id="featured-section">
    <h2>We design original and effective online experiences</h2>
    <div id="circles"> <img class="first" src="/jungle/assets/images/circle-red.png" /> <img src="/jungle/assets/images/circle-pink.png" /> <img src="/jungle/assets/images/circle-orange.png" /> <img src="/jungle/assets/images/circle-yellow.png" /> </div>
    <!--end circles-->
    <div id="image-slider">
      <ul id="mycarousel" class="jcarousel-skin-tango">
        <li class="first"><a href="#"><img width="280" height="190" src="/jungle/assets/images/280x190.gif" alt="" /></a></li>
        <li><a href="#"><img width="280" height="190" src="/jungle/assets/images/280x190.gif" alt="" /></a></li>
        <li><a href="#"><img width="280" height="190" src="/jungle/assets/images/280x190.gif" alt="" /></a></li>
        <li class="first"><a href="#"><img width="280" height="190" src="/jungle/assets/images/280x190.gif" alt="" /></a></li>
        <li><a href="#"><img width="280" height="190" src="/jungle/assets/images/280x190.gif" alt="" /></a></li>
        <li><a href="#"><img width="280" height="190" src="/jungle/assets/images/280x190.gif" alt="" /></a></li>
        <li class="first"><a href="#"><img width="280" height="190" src="/jungle/assets/images/280x190.gif" alt="" /></a></li>
        <li><a href="#"><img width="280" height="190" src="/jungle/assets/images/280x190.gif" alt="" /></a></li>
        <li><a href="#"><img width="280" height="190" src="/jungle/assets/images/280x190.gif" alt="" /></a></li>
      </ul>
    </div>
    <!--end image-slider-->
  </div>
  <!--end featured-section-->
  <div id="frontpage-main">
    <div id="frontpage-content">
      <h3>Why Work With Akono?</h3>
      <p>You’ll not regret getting in touch with us about your new project. Below are some of the benefits.</p>
      <ul class="blue-bullets">
        <li>Over 15 Years Real World Experience</li>
        <li>Voted No. 1 Design Studio In The World</li>
        <li>Support And Guidance At Every Step</li>
        <li>A Great Solution That You&#8217;ll Be Happy With</li>
      </ul>
    </div>
    <!--end frontpage-content-->
    <div id="frontpage-sidebar">
      <h3>Latest Article</h3>
      <a class="blog-title" href="#">Top Tips For Hiring A Design Agency</a>
      <p class="meta">1st May 2011 / <a href="#">No Comments &#187;</a></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
      <a class="read-more" href="#">Read More &raquo;</a> </div>
    <!--end frontpage-sidebar-->
  </div>
  <!--end frontpage-main-->
  <div id="footer">
    <p class="copyright">Copyright &copy; <a href="#">Domain Name</a> - All Rights Reserved / Design By <a target="_blank" href="http://www.chris-creed.com/">Chris Creed</a></p>
  </div>
  <!--end footer-->
</div>
<!--end wrap-->
</body>
<div class="cache-images"><img src="/jungle/assets/images/red-button-bg.png" width="0" height="0" alt="" /><img src="/jungle/assets/images/black-button-bg.png" width="0" height="0" alt="" /></div>
<!--end cache-images-->
</html>